<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>sentimen</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="static\css\team.css">
    <link href = "https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Favicons -->
  <link href="{{url_for("static",filename="img/favicon.png" )}}" rel="icon">
  <link rel="apple-touch-icon" href="{{url_for("static",filename="img/apple-touch-icon.png")}}">
  <script src="{{url_for("static",filename="")}}"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{url_for("static",filename="vendor/bootstrap/css/bootstrap.min.css")}}">
  <link rel="stylesheet"href="{{url_for("static",filename="vendor/bootstrap-icons/bootstrap-icons.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="vendor/boxicons/css/boxicons.min.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="vendor/glightbox/css/glightbox.min.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="vendor/swiper/swiper-bundle.min.css")}}">
  
  <link href="{{url_for("static",filename="css/style.css")}}" rel="stylesheet">

</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#">Sentiment Analysis Application</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo"><img src="{{url_for("static", filename="img/logo1.jpeg")}}" alt="" class="img-fluid" width="100" height="200"></a>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      
    </div>
  </header><!-- End Header --> 
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2>Untuk mengetahui sentimen dari suatu opini</h2>
          <h4>Silahkan klik ikon di bawah ini</h4>
          <h2></h2>
          <main id="main">
            <div class="row footer-newsletter justify-content-center">
            </div>
          <div class="d-flex">
            <a href="{{url_for('sentimen')}}" class="btn-get-started scrollto">Sentimen</a>
            <a href="" class="glightbox btn-watch-video"></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/img/sentimenttt.jpeg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <br> <br> <br> <br> <br>
      <div class="container">
        
        <div class="row">
          <div class="col-lg-6">
            <img src="static/img/sentimenttt2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h1>Sistem yang dibuat pada penelitian ini untuk melakukan analisis sentimen yaitu sentimen positif, netral, dan negatif menggunakan algoritma Naive Bayes dengan data opini diambil dari twitter</h1>
            <br>
            <p class="fst-italic">
              harapan output dari aplikasi ini di antaranya:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Untuk mengetahui emosi terhadap suatu opini di twitter</li>
              <li><i class="bi bi-check-circle"></i> Memberi kemudahan para pengambil keputusan dalam mengambil tindakan</li>
            </ul>
            <p>
          Dengan memasukan kata kunci, aplikasi ini akan melakukan scroling data twitter yang berhubungan sesuai kata kunci sehingga data tersebut akan di analisis  
            </p>
          </div>
        </div>
        
      </div>
    </section><!-- End About Section -->
    
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        <div class="row counters">
        </div>
      </div>
    </section><!-- End Counts Section -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">
        
        <div class="text-center">
          <h3>Call To Action</h3>
          <h4> Sentiment analysis adalah proses penggunaan text analytics untuk mendapatkan berbagai sumber data dari internet dan beragam platform media sosial. Tujuannya adalah untuk memperoleh opini dari pengguna yang terdapat pada platform tersebut.</h4>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>
        
      </div>
    </section><!-- End Cta Section -->
    
    <!-- ======= Team Section ======= -->
    <section>
    <section id="team" class="team">
        <div class="container">
        <div class="row flex-center sm-no-flex">
          
          <div class="pull-right sm-no-float col-md-8">
            <ul class="team-members">
              <!-- single member row starts -->
              <li class="clearfix">
                <div class="member-details">
                  <div>
                    <img src="static\img\team\putri.jpeg" alt="UI Designer">
                    <div class="member-info">
                      <h3>Putri Ekarani</h3>
                      <p>Data Acquisiton</p>
                    </div>
                  </div>
                </div>
                
                <div class="member-details">
                  <div>
                    <img src="static\img\team\faridz.jpeg" alt="UI Designer">
                    <div class="member-info">
                      <h3>Muhammad Faridz Al Hayat</h3>
                      <p>Data Exploration</p>
                    </div>
                  </div>
                </div>
    
                <div class="member-details">
                  <div>
                    <img src="static\img\team\montana.png">
                    <div class="member-info">
                      <h3>Montana Gurning</h3>
                      <p>Modelling</p>
                    </div>
                  </div>
                </div>
              </li><!-- /single member row ends -->
    
              <!-- single member row starts -->
              <li class="clearfix">
                <div class="member-details">
                  <div>
                    <img src="static\img\team\alex.jpeg" alt="#"> 
                    <div class="member-info">
                      <h3>Alex Muhamad Kasiba</h3>
                      <p>Deployment</p>
                    </div>
                  </div>
                </div>
                
                <div class="member-details">
                  <div>
                    <img src="static\img\team\rein.jpeg" alt="#">
                    <div class="member-info">
                      <h3>Rein Aisyah</h3>
                      <p>Evaluation</p>
                    </div>
                  </div>
                </div>
    
              </li><!-- /single member row ends -->
              
            </ul><!-- /end team-photos -->
          </div><!-- /end col-md-8 -->
          
          <div class="pull-left col-md-4 sm-text-center">
            <div class="team-overview">
              <h2>Asimo 1 - Nusantara</h2>
              <br> <br>
              <!-- <a href="#">Meet the Entire Team</a> -->
              <h3>1. Putri Ekarani</h3>
              <h4>==> Universitas Pendidikan Indonesia</h4>
              <h3>2. Muhammad Faridz Al Hayat</h3>
              <h4>==> Universitas Negeri Lampung</h4>
              <h3>3. Montana Gurning</h3>
              <h4>==> Institut Teknologi Del</h4>
              <h3>4. Alex Muhamad Kasiba</h3>
              <h4>==> Universitas Dharma Andalas</h4>
              <h3>4. Rein Aisyah</h3>
              <h4>==> Politeknik Negeri Sriwijaya</h4>
            </div>
          </div><!-- /end col-md-4 -->
        </div><!-- /end row -->
      </div><!-- /end container -->
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Sentimen</h3>
            <p>Naïve Bayes Classifier is one of the simple and most effective Classification algorithms which helps in building the fast machine learning models that can make quick predictions.</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Asimo 1</span></strong>. Proyek Akhir MBKM Orbit Future Academy 2022
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">KELOMPOK NUSANTARA</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for("static",filename="vendor/purecounter/purecounter_vanilla.js")}}"></script>
  <script src="{{url_for("static",filename="vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
  <script src="{{url_for("static",filename="vendor/glightbox/js/glightbox.min.js")}}"></script>
  <script src="{{url_for("static",filename="vendor/isotope-layout/isotope.pkgd.min.js")}}"></script>
  <script src="{{url_for("static",filename="vendor/swiper/swiper-bundle.min.js")}}"></script>
  <script src="{{url_for("static",filename="vendor/php-email-form/validate.js")}}"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>